body {
	background-color: lightblue;
}

.parkinglot {
	position: absolute;
	z-index: 1;
	width: 1385px;
	height: 1035px;

}

.car-aqua {
	position: absolute;
	z-index: 2;
	transform: rotate(-90deg);
	border: 1px solid black;
	top: 995px;
	left: 380px;

}
