body {
	background-color: lightblue;
}

.parkinglot {
	position: absolute;
	z-index: 1;
	/*width: 1385px;
	height: 1035px;
*/
	height: 100vh;
}

/*.car-aqua {
	position: absolute;
	z-index: 2;
	transform: rotate(-90deg);
	border: 1px solid black;
	top: 1090px;
	left: 210px;
}*/
.car {
	position: absolute;
	left: 0px;
	top: 0px;
}